@import "partials/variables";
@import "partials/general-styles";

.app-window {
	width: 100%;
	height: 100vh;

	.entry-page, .canvas-page, .publish-page {
		height: 100vh;
	}
		
	.entry-page {
		.wrapper.grid {
			height: 100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: nowrap;
		}

		h1 {
			font-family: "Roberto", sans-serif;
			font-size: 8rem;
			text-transform: uppercase;
			color: $green;
		}	

		p {
			font-size: 3rem;
			color: $grey;
		}

		form {
			margin-top: 3%;
			width: 70%;

			input[type="search"] {
				padding: 10px;
				width: 28%;
				border: 2px solid transparent;
				border-radius: 5px;
				font-size: 2rem;
				color: $white;
				background-color: rgba($white, 0.3);
				transition: border-color 0.3s ease, 
							color 0.3s ease;
			}

			input[type="search"]:focus {
				outline: none;
				border-color: $green;
				color: $grey;
			}
		}

		.main-btn {
			margin: 3% auto 0 auto;
		}
	}

	.canvas-page {
		.categories {
			width: 100px;
			height: 100%;
			background-color: $emo-black;
			text-align: center;

			h1 {
				font-size: 4rem;
			}

			nav {
				flex-direction: column;

				button {
					height: 100px;
					border: none;
					color: $grey;
					background: $emo-black;
					outline: none;

					i {
						font-size: 2.5rem;
					}

					p {
						font-size: 1.5rem;
					}
				}

				button.active {
					background: $dark-black;
					color: $white;
				}
			}
		}

		.decorative-objects {
			width: 20%;
			height: 100%;
			background-color: $dark-black;
			overflow-y: auto;

			.grid-cell-emoji {
				width: 30%;
				text-align: center;

				.emoji {
					font-size: 5rem;

					&:hover, &:active {
						cursor: move;
					}
				}
			}

			&::-webkit-scrollbar {
			    width: 0.6rem;
			}
			 
			&::-webkit-scrollbar-track {
			    background-color: $dark-black;
			}
			 
			&::-webkit-scrollbar-thumb {
				border-radius: 5px;
				background-color: rgba($grey, 0.6);
			}
		}

		.canvas-area {
			width: calc(80% - 100px);
			height: 100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: nowrap;

			.canvas {
				width: 640px;
				height: 480px;
				background-color: $white;
			}

			.canvas-btns {
				margin-top: 3%;
				width: 640px;
			}
		}
	}

	.publish-page {
		.wrapper.grid {
			height: 100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: nowrap;
		}

		h2 {
			font-size: 3rem;
			color: $green;
		}

		.publish-content {
			margin-top: 3%;
		}

		.grid-cell:first-child {
			width: 60%;

			img {
				max-width: 100%;
			}
		}

		.grid-cell:last-of-type {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				font-size: 2rem;
				color: $white;
			}

			.publish-btns {
				margin-top: 3%;
				width: 100%;
			}
		}
	}

	.btn {
		padding: 10px 20px;
		font-size: 2rem;
		border: 2px solid $green;
		border-radius: 5px;
		color: $green;
		background-color: transparent;
		transition: background 0.3s ease,
					color 0.3s ease; 
	}

	.btn:hover {
		background: $green;
		color: $black;
	}
}