.front-page {
	text-align: center;
	
	h1 {
		font-family: "Roberto", sans-serif;
		font-size: 8rem;
		text-transform: uppercase;
		color: $green;
	}
	
	p {
		font-size: 3rem;
		color: $grey;
	}

}

.lyricsEntry {
	width: 60%;
	margin: 0 auto;
	
	input {
		margin-top: 5%;
		padding: 5px;
		width: 30%;
		font-size: 2rem;
		border: none;
		border-radius: 5px;
		color: $grey;
		outline: $green;
		background: rgba(255, 255, 255, 0.3);
	}
	
	//changes outline colour to green instead of default blue
	input:focus {
		outline: none;
  		border-color: #FF0000;
 		box-shadow: inset 0 1px 10px rgba(111, 226, 151, 0.7), 0 0 12px rgba(111, 226, 151, 1);
	}
}

//styling for submit button--would like to try out "inset border" for hover state
.wordEntry {
	input[type=submit] {
		font-size: 2rem;
		margin-top: 7%;
		padding: 15px 30px;
		background-color: $black;
		border: 2px solid $green;
		color: $green;
		border-radius: 20px;
	}
	
	input[type=submit]:hover {
		color:$white;
		background-color: $green;
	}

}
